{
  type: 'object'
  title: 'Get App by Id'
  'x-group-name': 'Applications'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        app_id:
          type: 'string'
}
