{
  type: 'object'
  title: 'Get App by Label'
  'x-group-name': 'Applications'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        org_label:
          type: 'string'
        space_label:
          type: 'string'
        app_label:
          type: 'string'
}
