{
  type: 'object'
  title: 'Download File < 1mb'
  'x-group-name': 'Files'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        file_id:
          type: 'string'
          description: "Will return msg.data containing the raw data of the file."
}
